.container {
    max-width: 120rem; // 1200px. If less just occupy 100% of view-port width
    margin: 8rem auto;
    border: 1px solid black;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    //background-color: blue;
    border-bottom: var(--color-grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center; //vertically aligned our 3 items. logo, nav and user details
}

.content {
    display: flex;
}

.sidebar{ 
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18% // flex-grow: 0, flex-shrink: 0, flex-basis: 18% (perfect width for a side bar as per Jonas :p )
}

.hotel-view {
    background-color: #fff;
    background-color: red;
    // https://www.w3schools.com/cssref/css3_pr_flex.asp
    flex: 1; // grow as much as u can. // Let all the flexible items be the same length, regardless of its content
    // no floats, no clear-fixes...
}