html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content); }

.sidebar {
  background-color: #c69963; }

.header {
  background-color: #54483A; }

.realtors {
  background-color: red; }

.features {
  background-color: yellow; }

.story__pictures {
  background-color: black; }

.story__content {
  background-color: #f9f7f6; }

.homes {
  background-color: greenyellow; }

.gallery {
  background-color: aquamarine; }

.footer {
  background-color: palevioletred; }
