*,
*::after, /* Такой прикол вообще первый раз вижу... */
*::before {
    box-sizing: inherit; /* each element will inherit box-sizing from its parent element - body.
    Slightly better practice */
	/* The box-sizing property allows us to include the padding 
    and border in an element's total width and height. */
	margin: 0px;
    padding: 0px;
}

html {
    /* font-size: 10px; */  /* This is a bad practice. May be user has a bad sight
     and hes/she changed this setting for his/her browser. And we overwriting this setting here */
    font-size: 62.5%; /* So we take 62.5% from 16px (default browser setting) to get our 
    easy-to-calculate-rems-on - 10px! Getting 10px in "correct/proper" way */
    /* rems IE9 => */
    /* font-size was not moved into "typography" section. Because it like an overall setting for all sizes*/

    // @include respond(phone) { // Do not need this, because tab-port < 900 will be applied to devices < 600
    //     font-size: 50%; 
    // } 

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12px, 12/16 = 75%
    }
}

body {
    box-sizing: content-box;
}